/**
swfont Webfont
*/
@font-face {
 font-family: 'swfont';
 src:
  url('swfont.woff2?05addbbd95') format('woff2'),
  url('swfont.woff?05addbbd95') format('woff');
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}

[class^='swicon-']:before,
[class*=' swicon-']:before {
 font-family: 'swfont';
 display: inline-block;
 vertical-align: middle;
 line-height: 1;
 font-weight: normal;
 font-style: normal;
 speak: none;
 text-decoration: inherit;
 font-size: inherit;
 text-transform: none;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

.swicon-fita-de-bookmark:before {
 content: '\ea01';
}

.swicon-locked:before {
 content: '\ea02';
}

.swicon-multiple-users-silhouette:before {
 content: '\ea03';
}

.swicon-partilhar:before {
 content: '\ea04';
}

.swicon-reiniciar:before {
 content: '\ea05';
}

.swicon-shield:before {
 content: '\ea06';
}

.swicon-snow-alt:before {
 content: '\ea07';
}

.swicon-suporte-1:before {
 content: '\ea08';
}

.swicon-users:before {
 content: '\ea09';
}
